h1 {
  color: #3b1360;
  margin: 30px 60px;
}

.browse-wrap {
  width: 95vw;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
  position: relative;
  z-index: 1000;
  cursor: pointer;
}

/* MOBILE WIDTH */
.four-col-grid .grid-item {
  margin-bottom: 20px;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .four-col-grid .grid-item {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
    float: left;
  }
}

/* DESKTOP */
@media screen and (min-width: 1025px) {
  .four-col-grid .grid-item {
    width: 22.5%;
    margin: 0 1.25% 20px 1.25%;
    float: left;
  }
}

.four-col-grid:after {
  display: table;
  clear: both;
  content: '';
}