.main-main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
}
.createPostMain {
    height: 600px;
    padding-top: 90px;
}
.headerPost {
    padding-bottom: 10px;
}
.createForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 100px;
}
.createInput {
    height: 30px;
    width: 400px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: beige;
}
.createInput::placeholder {
    padding: 15px;
}
.createTextArea {
    height: 400px;
    width: 400px;
    font-size: 20px;
    border: none;
    top: 238px;
    border-radius: 10px;
    background-color: beige;
}
.createTextArea::placeholder {
    padding: 15px;
}
.createSearch {
    position: relative;
}
.createDropDown {
    height: 200px;
    width: 400px;
    border: none;
    background: #e8daae;
    position: absolute;
    box-shadow: 0 12px 24px rgba(0,0,0,.1);
}
.createFile {
    position: absolute;
    top: 161px;
    left: 518px;
    z-index: -1;
}
.createSubmit { 
    position: relative;
    left: 149px;
    top: 10px;
    width: 106px;
}
.searchResult {
    padding-left: 10px;
}
.restaurant {
    padding-left: 20px;
}

