.mainRegister {
    margin: -60px 430px 0 430px;
    width: 500px;
    height: 600px;
}
.mainLogin {
    margin: 200px 430px 0 430px;
    width: 500px;
    height: 300px;
}
.userRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 100px;
    padding: 40px;
}
.input {
    height: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 12px;

}

.input::placeholder {
    padding: 15px;
}

.usernameRegister {
    width: 310px;
    border:none;
    border-bottom: 1px solid;
}

.firstName {
    width: 145px;
    margin-right: 7px;
    border-radius: 11px;
    border:none;
}
.lastName {
    width: 145px;
    margin-left: 7px;
    border-radius: 11px;
    border:none;
}

.avatar {
    display: flex;
    width: 300px;
}
.avatar p {
    font-size: 20px;
    margin-right: 10px;
    color: black;
}
.avatar input {
    font-size: 18px;
}
.submitRegister {
    width: 310px;
    height: 45px;
    background-color:#3b1360;
    border-radius: 10px;
    color: white;
}
.h1 {
    color: black;
    margin: 1px;
    padding-bottom: 5px;
}
