.user-user-main {
  display: flex;
  padding-top: 70px;
}

.user-user-info {
  flex: 2;
  width: 500px;
}

.user-user-info-inner {
  border: 1px solid rgba(0,0,0,0.2);
  margin: 20px 0 0 40px;
  width: 500px;
  height: 500px;
  background: white;
  border-radius: 4px;  
  position: fixed;
}

.user-info-inner h4 {
  font-weight: bold;
  color: #3b1360;
  font-size: 1.1em;
}

.user-post-main {
  flex: 3;
  margin-top: 20px;
  padding-right: 5%;
  padding-left: 2%;
}

.user-avatar-photo {
  width: 200px;
  margin: -75px auto 0 auto;
  border-radius: 50%;
  display: block;
}

.user-feed-stripe {
  height: 100px;
  border-radius: 4px 4px 0 0;
  background-color: #3b1360;
}

/* .user-feed-name {
  position: relative;
  left: 10px;
  top: -10px;
} */

.feed-name p {
  color: rgba(0,0,0,0.5);
}

.feed-user-info-details {
  display: flex;
  padding: 20px;
}

.feed-user-info-details p {
  flex: 1;
  text-align: center;
}

.feed-user-info-details span {
  color: #3b1360;
  font-weight: bold;
}