.user-user-info-container {
  display: flex;
  width: 50vw;
  margin: 0 auto;
  min-width: 600px;
  padding-top: 100px;
  color: rgba(37, 37, 37);
}

.user-avatar-photo {
  width: 150px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.2);
}

.user-user-name {
  display: flex;
  align-items: center;
}

.user-user-name button {
  background-color: #3b1360;
  color: white;
  width: 80px;
  border-radius: 25px;
  margin: 0 0 0 20px;
  height: 30px;
  font-size: 0.8em;
  border: none;
  outline: none;
}

.user-user-name button:hover {
  cursor: pointer;
  background-color: #6923aa;
}

.user-user-info {
  margin-left: 50px;
  font-size: 1.1em;
  cursor: default;
}

.user-user-info h1 {
  font-size: 2em;
}

.user-user-info h2 {
  font-weight: normal;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.5);
}

.user-user-info-details {
  display: flex;
}

.user-user-info-details p {
  margin-right: 10px;
}

.user-user-info-details span {
  font-weight: bold;
  color: #3b1360;
}

.user-user-info span {
  color: #3b1360;
}

.user-user-location {
  margin-bottom: 3px;
}

.user-user-posts-container {
  margin-top: 50px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
  position: relative;
  z-index: 50;
  cursor: pointer;
}

/* MOBILE */
.two-col-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.two-col-grid .grid-item {
  margin-bottom: 15px;
}

/* TABLET & DESKTOP */
@media screen and (min-width: 768px) {
  .two-col-grid {
    flex-direction: row;
  }

  .two-col-grid .grid-item:first-of-type {
    flex-basis: 45%;
    margin-left: 4%;
    margin-right: 1%;
    margin-bottom: 15px;
  }

  .two-col-grid .grid-item:nth-of-type(2) {
    flex-basis: 45%;
    margin-right: 4%;
    margin-left: 1%;
    margin-bottom: 15px;
  }
} 